/** Font inclusions **/

@font-face {
  font-family: "Inconsolata-g";
  src: url("../fonts/Inconsolata-g for Powerline.otf") format("opentype");
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Regular.ttf") format("truetype");
}

/** General **/

* {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

body {
  margin: 0;
  font-family: Roboto;
}

h1 {
  font-size: 1.5em;
  font-weight: 700;
}

button {
  cursor: pointer;
}

.center {
  text-align: center;
}

.col {
  top: 0;
  bottom: 0;
  overflow: hidden;
  position: absolute;
}

.main {
  left: 0;
  right: 30em;
}

.sidebar {
  background: #131316;
  border-left: 3px solid #2f2f37;
  /*padding: 2em;*/
  
  width: 30em;
  right: 0;
  color: white;
  overflow-y: auto;
}

.sidebar > * {
  margin: 2em;
}

.sidebar-header {
  background: #3b3b44;
  margin: 0;
  padding: 0.75em;
}

.sidebar-controls {
  margin: 0;
  text-align: center;
  display: flex;
  /*border-top: 1px solid #333;*/
}

.sidebar-controls:first-child {
  border-top: none;
}

.sidebar-controls > button {
  height: 2em;
  font-size: 1em;
  flex: 1;
  border: none;
  /*margin: 0.2em;*/
  background: #53535f;
  outline: none;
  border-left: 1px solid #474752;
  color: lightgray;
  
  -moz-transition: all .075s ease-in;
  -o-transition: all .075s ease-in;
  -webkit-transition: all .075s ease-in;
  transition: all .075s ease-in;
}
 
.sidebar-controls:nth-child(2n+1) > button {
  background: #6b6b7b;
  border-left: 1px solid #5f5f6d;
}

.sidebar-controls > button:first-child {
  border-left: none;
}

.sidebar-controls > button:hover {
  background: #777788;
}

.sidebar-controls > button:active {
  background: #848494;
  outline: none !important;
}

/*.sidebar-controls > button:focus {
  outline: #00F;
  outline-style: auto;
  outline-width: 5px;
}*/

/* Properties Table */

.sidebar-properties > * {
  margin-bottom: 0.4em;
}

#properties-table {
  color: black;
  border-top: 1px solid #BBB;
  border-left: 1px solid #BBB;
  width: 100%;
}

.table-row {
  display: flex;
  border-bottom: 1px solid #BBB;
  height: auto;
}

.table-col {
  display: flex;
  position: relative;
  border-right: 1px solid #BBB;
  /*padding: 0.2em;*/
  background: white;
  height: auto;
  flex: 3;
  align-items: center;
}

.table-col.prop_common {
  background: #DDD;
}

.table-col:first-child {
  padding: 0.2em;
  /*width: 25%;*/
  flex: 1;
}

#properties-table input {
  background: inherit;
  margin: 0;
  padding: 0.2em;
  border: none;
  width: 100%; 
  font: inherit;
}

/* Circle-button Buttons */

.circle-button {
  border: none;
  border-radius: 1em;
  outline: none;
  text-align: center;
  height: 1.7em;

  -moz-transition: all .075s ease-in;
  -o-transition: all .075s ease-in;
  -webkit-transition: all .075s ease-in;
  transition: all .075s ease-in;
}

.circle-button.remove {
  background: #C33;
  color: white;
}

.circle-button.remove:hover {
  background: #D44;
}

.circle-button.remove:active {
  background: #E55;
}

#properties-table button {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
}

.circle-button.add {
  background: #3C3;
  color: white;
}

.circle-button.add:hover {
  background: #4D4;
}

.circle-button.add:active {
  background: #5E5;
}

/* Events editor */

.sidebar-events > * {
  margin-bottom: 0.4em;
}

.eventEditor {
  width: 100%;
  height: 25em;
  font-family: "Inconsolata-g", Consolas, monospace;
  resize: vertical;
}
