/** Font inclusions **/

@font-face {
  font-family: "Inconsolata-g";
  src: url("../fonts/Inconsolata-g for Powerline.otf") format("opentype");
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Regular.ttf") format("truetype");
}

/** General **/

body {
  margin: 0;
  font-family: Roboto;
}

h1 {
  font-size: 1.5em;
  font-weight: 700;
}

.center {
  text-align: center;
}

.col {
  top: 0;
  bottom: 0;
  overflow: hidden;
  position: absolute;
}

.main {
  left: 0;
  right: 30em;
}

.sidebar {
  background: #131316;
  border-left: 6px solid #2f2f37;
  /*padding: 2em;*/
  
  width: 30em;
  right: 0;
  color: white;
  overflow-y: auto;
}

.sidebar > * {
  margin: 2em;
}

div.sidebar-header {
  background: #3b3b44;
  margin: 0;
  padding: 0.75em;
}

div.sidebar-controls {
  margin: 0;
  text-align: center;
  display: flex;
  /*border-top: 1px solid #333;*/
}

div.sidebar-controls:first-child {
  border-top: none;
}

div.sidebar-controls > button {
  height: 2em;
  font-size: 1em;
  flex: 1;
  border: none;
  /*margin: 0.2em;*/
  background: #53535f;
  outline: none;
  border-left: 1px solid #474752;
  color: lightgray;
  
  -moz-transition: all .1s ease-in;
  -o-transition: all .1s ease-in;
  -webkit-transition: all .1s ease-in;
  transition: all .1s ease-in;
}

div.sidebar-controls:nth-child(2n+1) > button {
  background: #6b6b7b;
  border-left: 1px solid #5f5f6d;
}

div.sidebar-controls > button:first-child {
  border-left: none;
}

div.sidebar-controls > button:hover {
  background: #777788;
}

div.sidebar-controls > button:active {
  background: #848494;
}

/* Properties Table */

div.sidebar-properties > * {
  margin-bottom: 0.4em;
}

.properties-table {
  color: black;
}

table.properties-table {
  border-top: 1px solid #BBB;
  border-left: 1px solid #BBB;
  width: 100%;
}

table.properties-table tr {
  border-bottom: 1px solid #BBB;
  height: 1em;
}

table.properties-table td {
  position: relative;
  border-right: 1px solid #BBB;
  padding: 0.2em;
  background: white;
  width: 75%;
  height: 1em;
}

table.properties-table td.prop_common {
  background: #DDD;
}

table.properties-table td:first-child {
  width: 25%;
}

table.properties-table input {
  background: inherit;
  margin: 0;
  padding: 0;
  border: none;
  width: 100%;
  font: inherit;
}

/* Circle Buttons */

button.circle {
  border: none;
  border-radius: 1em;
  outline: none;
  text-align: center;
  height: 1.7em;

  -moz-transition: all .1s ease-in;
  -o-transition: all .1s ease-in;
  -webkit-transition: all .1s ease-in;
  transition: all .1s ease-in;
}

button.circle.remove {
  background: #C33;
  color: white;
}

button.circle.remove:hover {
  background: #D44;
}

button.circle.remove:hover:active {
  background: #E55;
}

table.properties-table button {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
}

button.circle.add {
  background: #3C3;
  color: white;
}

button.circle.add:hover {
  background: #4D4;
}

button.circle.add:hover:active {
  background: #5E5;
}

/* Events editor */

div.sidebar-events > * {
  margin-bottom: 0.4em;
}

.eventEditor {
  width: 100%;
  height: 25em;
  font-family: "Inconsolata-g", Consolas, monospace;
  resize: vertical;
}
