body {
  font-family: Roboto;
  color: white;
}

.center {
  text-align: center;
}

h1 {
  font-size: 1.5em;
  font-weight: 700;
}

.properties {
  background: white;
  color: black;
}

table.properties {
  border-top: 1px solid #CCCCCC;
  border-left: 1px solid #CCCCCC;

}

table.properties tr {
  border-bottom: 1px solid #CCCCCC;
  height: 1em;
}

table.properties td {
  border-right: 1px solid #CCCCCC;
  min-width: 100px;
  padding: 0.2em;
}

table.properties td:first-child {
  
}

table.properties input {
  background: inherit;
  margin: 0;
  padding: 0;
  border: none;
  width: 100px;
  font: inherit;
}

.container {
  display: flex;
  height: 100%;
  align-items: stretch;
  top: 0;
  bottom: 0;
}

.field {
  flex: 3;
  /*border: 1px solid red;*/
}

.sidebar {
  /*border: 1px solid blue;*/
  background: #131316;
  border-left: 6px solid #32323f;
  /*box-shadow: 10px 10px 5px #ffffff;*/
  flex: 1;
  padding: 1em;
}

/*body { margin: 0; }
.row, .col { overflow: hidden; position: absolute; }
.row { left: 0; right: 0; }
.col { top: 0; bottom: 0; }
.scroll-x { overflow-x: auto; }
.scroll-y { overflow-y: auto; }

.left.col { width: 250px; border: 1px solid blue; }
.right.col { left: 250px; right: 0; border: 1px solid blue; }
.header.row { height: 75px; line-height: 75px; }
.body.row { top: 75px; bottom: 50px; }
.footer.row { height: 50px; bottom: 0; line-height: 50px; }
.center.col { left:250px; right:250px;}*/